.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    background-color: #20232a;
    color: #fff;
    font-size: 20px;
}

.footer {
    display: flex;
    height: 100%;
}

.logo {
    width: 60px;
    height: 60px;
}

.ant-layout {
    width: 250px;
}

.container {
    width: 100%;
    padding: 15px;
}
